<!doctype html>
<html lang="{{ post.configuration.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/asset/style/main.css">

    <title>{{ post.configuration.title }}</title>
</head>
<body>
<div class="container">
    {{ post.content.content|raw }}
</div>

<script type="text/javascript" src="/asset/script/main.js">
</script>
</body>
</html>
