# Project

.idea/

# Library

node_modules/
vendor/

# Content

/posts/*
!/posts/.gitignore

/theme/*
!/theme/.gitignore

# Temporary

/var/*
!/var/.gitignore

/var/log/*
!/var/log/.gitignore

/var/cache/*
!/var/cache/.gitignore

/var/cache/twig/*
!/var/cache/twig/.gitignore

# Development

/debug/snapshot/*
!/debug/snapshot/.gitignore

# Public

/public/asset/*
!/public/asset/.gitignore

# System
.DS_Store
desktop.ini
