<!doctype html>
<html lang="{{ locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block style %}
        <link rel="stylesheet" href="/asset/style/main.css">
        <!-- Include google-fonts -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    {% endblock %}

    {% block meta %}
    {% endblock %}

    {# TODO: Allow setting the title. #}
    <title>{% block title %}{% endblock %} - Blog</title>
</head>
<body>
{% block content %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/asset/script/main.js">
    </script>
{% endblock %}
</body>
</html>
