{% extends '@theme-basic/_page-layout.html.twig' %}

{% block feature %}
    {% include '@theme-basic/include/_post-jumbotron.html.twig' with {
        'post': post,
        'configuration': configuration
    } %}
{% endblock %}

{% block feature_below %}
    <div class="row mb-2">
        {% include '@theme-basic/include/_post-card.html.twig' with {
            'post': post,
            'configuration': configuration
        } %}
        {% include '@theme-basic/include/_post-card.html.twig' with {
            'post': post,
            'configuration': configuration
        } %}
    </div>
{% endblock %}

{% block side_left_inner %}
    <h3 class="pb-4 mb-4 font-italic border-bottom">
        Feed
    </h3>

    {% for post in postList %}
        {% set configuration = post.configuration.localeList.current %}

        {% include '@theme-basic/include/_post-content.html.twig' with {
            'post': post,
            'configuration': configuration,
        } %}
    {% endfor %}

    {# TODO: Move to post overview template and use as pagination. #}
    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1"
           aria-disabled="true">Newer</a>
    </nav>

    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="{{ url_for('blog.post.list', {
            'locale': locale,
        }) }}">
            View all
        </a>
    </nav>
{% endblock %}

{# TODO: Move to normal layout template. #}
{% block side_right_inner %}
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">
            Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur
            purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
        </p>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
        </ol>
    </div>

    <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
        </ol>
    </div>
{% endblock %}
